.home-comp{
    background-image: url('../../images/jeremy-bishop-424423.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 85vh;
}
.home-comp h1{
    margin-top: 0;
    line-height: 6;
    color: #000;
    text-shadow: 1px 2px #000;
}
.home-content{
    display: inline-block;
    width: 25%;
    padding: 5px 0;
}
.home-content h2, .home-content h4{
    color: #fff;
    margin-top: 0;
}
.home-content img{
    height: 450px;
    box-shadow: -15px 20px 40px #0F314C;
    border-radius: 30px;
}
.btn{
    margin-top: 20px;
    padding: 8px 35px;
    outline: none;
    border: 1px solid #000;
    cursor: pointer;
    font-weight: 600;
    background: #6695C2;
    font-size: 14px;
}
.btn:hover{
    background: #000;
    border: 1px solid #6695C2;
    transition: 0.3s ease-in-out;
}
.btn a{
    text-decoration: none;
    color: #fff;
}